/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* BODY  */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 320px; }

/* HEADER  */
header {
  padding: 1rem 2vw; }
  header h1 {
    font-size: 1.6rem; }
  header h2 {
    font-size: 1.2rem; }

/* NAVIGATION  -------------------------------------------------------- */
nav button {
  padding: .2rem 2vw;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
  height: 44px;
  width: 44px;
  cursor: pointer; }
  nav button .line {
    position: absolute;
    height: 2px;
    width: 60%;
    background: white;
    transition: all cubic-bezier(0.2, 0.1, 0.2, 1.2) 0.3s; }
  nav button .top, nav button .middle, nav button .bottom {
    left: 20%; }
  nav button .top {
    top: 29%; }
  nav button .middle {
    top: 48%; }
  nav button .bottom {
    top: 67%; }

#hamburgerBtn.open .top {
  transform: rotate(45deg);
  top: 48%; }
#hamburgerBtn.open .middle, #hamburgerBtn.open .bottom {
  transform: rotate(-45deg);
  top: 48%; }

nav {
  background-color: #343333;
  /* Toggle the navigation bar to expand down  */ }
  nav ul {
    display: none;
    margin: 0;
    padding: 0;
    z-index: 998; }
  nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.25); }
  nav ul li a {
    display: block;
    padding: .75rem 2vw;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2); }
  nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  nav ul.open {
    display: block; }

/* MAIN  */
main p {
  padding: .5rem 2vw; }

/* FOOTER  */
footer {
  border-top: 1px solid #aaa;
  padding: 1rem 0;
  color: #111;
  text-align: center; }
  footer a {
    color: #111; }

@media only screen and (min-width: 35em) {
  /*  ----------------------- NAVIGATION --------------------------- */
  nav button {
    display: none; }

  #primaryNav {
    display: flex; }

  nav ul {
    margin-left: 2%;
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
  nav ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  nav ul li a {
    border: none;
    font-size: 1rem;
    padding: .9rem 1.2rem;
    color: white;
    text-decoration: none;
    /*transition*/
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear; }
  nav ul li a:hover {
    background: #272626; } }
@media only screen and (min-width: 64em) {
  header, nav, main, footer {
    max-width: 75rem;
    margin: 0 auto; } }
